action: ??? # train or test
name: ??? # name of the experiment needed for the logs
modality: ["RGB"] # modality used
total_batch: 128 # total batch size if training is done with gradient accumulation
batch_size: 32 # batch size for the forward
gpus: null # gpus adopted
wandb_name: null # needed for wandb logging
resume_from: null # checkpoint directory
logname: null # name of the logs
models_dir: null # directory containing all the models
num_clips: 5 

dataset:
  annotations_path: train_val # path for the annotations data
  shift: ??? # shifts of the dataset
  workers: 4 # number of workers for the dataloader
  stride: 2 # stride in case of dense sampling
  resolution: 224 # input resolution to the model
  RGB:
    data_path: ??? # path to RGB data
    tmpl: "img_{:010d}.jpg" # format of RGB filenames
    features_name: ???
  Event: # not neeeded for the project
    rgb4e: 6

# these are the action recognition models for each modality
models:
  RGB:
    model: ???
    normalize: False
    kwargs: {}
    lr_steps: 100
    lr: 0.1
    sgd_momentum: 0.9
    weight_decay: 1e-2
